<!DOCTYPE html>
<html>
    <link rel="stylesheet" type="text/css" href="../css/loading.css"/>
    <link rel="stylesheet" type="text/css" href="../css/content.css"/>
    <link rel="stylesheet" type="text/css" href="../css/animation.css"/>
    <link rel="stylesheet" type="text/css" href="../css/common.css"/>
    <link rel="stylesheet" type="text/css" href="../css/item.css"/>
    <meta charset="UTF-8">
    
<title>
    4H-Club-BackEnd
</title>
    
<head>
</head>
<body>
    <div id=app v-cloak v-show=isShowAll>
        <div class=content><!--主要內容-->
            <div class="title"><h1>深坑四健會活動後台</h1></div>
            <div class=btn_area>
                <a><button class="animation_btn" @click="player">玩家</button></a>
                <a><button class="animation_btn" @click="card">卡牌</button></a>
                <a><button class="animation_btn" @click="task">任務</button></a>
                <a><button class="animation_btn" @click="uploadExcel">上傳EXCEL檔案</button></a>
            </div>
            
            <div class="page">
                <div class=extra_btn_area>
                    <div class="area">
                        <button class="scale_btn" @click='e.func' v-for="e in extraEvent">{{e.name}}</button>
                    </div>
                </div>
                <div class="title_area">
                    <table class="item_title">
                        <tr>
                            <td :style="{width:100/title.length+'%'}" v-for="t in title">{{t}}</td>
                        </tr>
                </table>
                </div>
                <div class="range auto_newline">
                    <keep-alive>
                        <div>
                            <component :is='temp' class="item" v-bind:e='e' v-bind:func='func' v-for="e in content"></component>
                        </div>
                    </keep-alive>
                </div>
            </div>
        </div>
        
        <transition name="fade"><!--動畫-->
            <!--跳出訊息或是讀取中-->
            <div v-show='isShow' class=loading>
                <transition name="bounce">
                    <div class='loading_area' v-show='isShow'><!--主要訊息範圍-->
                        <table class=message>
                            <tr class="title">
                                <td colspan="2"><span class=auto_newline>{{loadTitle}}</span></td>
                            </tr>
                            <tr class="middle">
                                <td colspan="2">
                                    <table width=100% height=100% text-align=center>
                                        <tr v-show='isShowMessage'><td class=auto_newline><span class="text_area">{{loadingMessage}}</span></td></tr>
                                        <tr v-show='isShowUpload'><td class=auto_newline>
                                            <span style="font-size: 20px">玩家Excel:</span>
                                            <input type="file" ref="playerData"  @change="setPlayerFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                                        </td></tr>
                                        <tr v-show='isShowUpload'><td class=auto_newline>
                                            <span style="font-size: 20px">模板Excel:</span>
                                            <input type="file" ref="tempData" @change="setTempFile" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                                        </td></tr>
                                        <tr v-show='isLoading' >
                                            <td >
                                                <img class="circle" src="../resource/loading.png"></img>       
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr class="footer" v-show='!isOneButton&&isShowButton'>
                                <td><button class='two_btn' @click='oneButtonClick'>確定</button></td>
                                <td><button class='two_btn' @click='twoButtonClick'>取消</button></td>
                            </tr>
                            <tr class="footer" v-show='isOneButton&&isShowButton'>
                                <td><button  class='one_btn' @click='oneButtonClick'>確定</button></td>
                            </tr>
                        </table>
                        
                    </div>
                </transition>
            </div>
        </transition>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--#region player template -->
<script type="text/x-template" id="player_item">
    <table class='item'>
            <tr>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.qrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.name}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.team}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.update}}</td>
            </tr>
    </table>
</script>
<!--#endregion-->

<!--#region card template -->
<script type="text/x-template" id="card_item">
    <table class='item'>
            <tr>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.id}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.playerqrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.cardqrcod}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.create}}</td>
            </tr>
    </table>
</script>
<!--#endregion-->

<!--#region task template -->
<script type="text/x-template" id="task_item">
    <table class='item'>
            <tr>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.id}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.playerqrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.taskqrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.submit}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.create}}</td>
            </tr>
    </table>
</script>
<!--#endregion-->

<!--#region cardTemp template -->
<script type="text/x-template" id="cardTemp_item">
    <table class='item'>
            <tr>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.qrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.name}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.type}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.max}}</td>
            </tr>
    </table>
</script>
<!--#endregion-->

<!--#region taskTemp template -->
<script type="text/x-template" id="taskTemp_item">
    <table class='item'>
            <tr>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.qrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.cardqrcode}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.type}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.name}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.condition}}</td>
                <td :style="{width:100/Object.keys(e).length+'%'}">{{e.information}}</td>
            </tr>
    </table>
</script>
<!--#endregion-->

<script type="module" src="../js/page4H.js"></script>
</html>
